.top-row

.wrapper
  .row.header
    .span8
      %h1.blue
        Закрытие юридических лиц методом присоединения по РФ
    .span4
      .phone
        .number
          8 (495) 215 58 24
        .button#get-call
          Заказать звонок




.offer
  .wrapper
    .row
      .span7
        .action
          .ooo
            %span.blue
              До 30 августа
            для начала работ по ликвидации необходимо внести лишь
            %span.red
              10% предоплаты

          .to-do
            Оставьте заявку и получите бесплатную консультацию уже через 15 минут.

      .span4.offset1.consult-form-wrapper
        .success
          Мы вам скоро перезвоним!
        %form.form#first-form
          %input{type: :text, placeholder: 'Введите ваше имя', name: :username}
          %input{type: :text, placeholder: 'Введите ваш email', name: :email}
          .phone-error Правильный формат 8 xxx xxx xx xx
          %input{type: :text, placeholder: 'Введите ваш номер телефона', name: :phone}
          .submit-order.button Получить консультацию



%section
  .section-title
    Все что вам стоит узнать о ликвидации методом присоединения

  .wrapper
    .video-block
      %iframe{src: '//www.youtube.com/embed/V7teS1yV2UA?rel=0&enablejsapi=1',
              width: 960,
              height: 540, frameborder: 0}


%section.strip
  .section-title
    Существует два способа ликвидации присоединением

  .wrapper
    .row
      .span6
        .variant
          %h4
            Обычная ликвидация присоединением

          %h3
            45 000 рублей.

          %p
            Идеальный вариант по соотношению цена-качество для компаний, не имевших больших оборотов.


      .span6
        .variant
          %h4
            Присоединение с ликвидацией правопреемника

          %h3
            250 000 рублей.

          %p
            VIP пакет, полное прекращение всех обязательств перед третьими лицами
            и исключение каких либо претензий со стороны налоговой в будущем.


%section
  .section-title
    С нами стоит работать.

  .wrapper
    .row
      .span4
        %h6
          Выбор регионов
        %p
          Мы работаем с
          %strong.red
            8
          регионами от Калининграда до Владивостока

      .span4
        %h6
          Большой опыт
        %p
          Мы ликвидировали уже более
          %strong.red
            150
          юридических лиц

      .span4
        %h6
          100% гарантия
        %p
          Мы вернем вам
          %strong.red все
          деньги, если не успеем закрыть вашу фирму за
          %strong.red 4
          месяца.


.offer
  .wrapper
    .row
      .span7
        .action
          .ooo
            %span.blue
              100% гарантия!
            %br
            Мы закроем вашу компанию за
            %span.red 4 месяца
            или вернем все деньги.

          .to-do
            Оставьте заявку и получите бесплатную консультацию уже через 15 минут.


      .span4.offset1
        .success
          Мы вам скоро перезвоним!
        %form.form#last-form
          %input{type: :text, placeholder: 'Введите ваше имя', name: :username}
          %input{type: :text, placeholder: 'Введите ваш email', name: :email}
          .phone-error Правильный формат 8 xxx xxx xx xx
          %input{type: :text, placeholder: 'Введите ваш номер телефона', name: :phone}
          .submit-order.button Получить консультацию

#request-call-dialog
  .header-transparent
  .content
    .success
      Мы вам скоро перезвоним!
    %form#call-me-form{data: {dialog: 'yes'}}
      %input{type: :text, name: :username, placeholder: 'Введите ваше имя'}
      .phone-error Правильный формат 8 xxx xxx xx xx
      %input{type: :text, name: :phone, placeholder: 'Введите ваш номер телефона'}
      .button.submit-order
        Заказать звонок