.top-row

.wrapper
  .row.header
    .span8
      %h1.blue
        Ликвидация предприятий путем присоединения
    .span4
      .phone
        .number
          8 (495) 215 58 24
        .button#get-call
          Заказать звонок




.offer
  .wrapper
    .row
      .span7
        .action
          .ooo
            Ликвидируем юридические лица на территории РФ с гарантированным результатом.
            Сделаем всё в срок или вернем деньги обратно.

      .span4.offset1.consult-form-wrapper
        .success
          Мы вам скоро перезвоним!

        %form.form#first-form
          .form-header
            Оставьте заявку на консультацию в августе и получите скидку 20%
          %input{type: :text, placeholder: 'Имя', name: :username}
          %input{type: :text, placeholder: 'Email (не обязательно)', name: :email}
          .phone-error Правильный формат 8 xxx xxx xx xx
          %input{type: :text, placeholder: 'Телефон', name: :phone}
          .submit-order.button Получить консультацию


%section
  .section-title
    С нами стоит работать.

  .wrapper
    .row
      .span4
        %h6
          Выбор регионов
        %p
          Мы работаем с
          %strong.red
            8
          регионами от Калининграда до Владивостока

      .span4
        %h6
          Большой опыт
        %p
          Мы ликвидировали уже более
          %strong.red
            150
          юридических лиц

      .span4
        %h6
          100% гарантия
        %p
          Мы вернем вам
          %strong.red все
          деньги, если не успеем закрыть вашу фирму за
          %strong.red 4
          месяца.


%section
  .section-title
    Это вам вам стоит узнать о ликвидации путем присоединения

  .wrapper
    .video-block
      %iframe{src: '//www.youtube.com/embed/V7teS1yV2UA?rel=0&enablejsapi=1',
              width: 960,
              height: 540, frameborder: 0}


%section.strip
  .section-title
    Предлагаем вам 2 способа ликвидации

  .wrapper
    .row
      .span6
        .variant
          %h4
            Обычная ликвидация присоединением

          %h3
            %span.strike 60 000
            48 000 рублей

          %p
            Идеальный вариант по соотношению цена-качество для компаний, не имевших больших оборотов.


      .span6
        .variant
          %h4
            Присоединение с ликвидацией правопреемника

          %h3
            %span.strike 250 000
            200 000 рублей.

          %p
            VIP пакет, полное прекращение всех обязательств перед третьими лицами
            и исключение каких-либо претензий со стороны налоговой в будущем.


.offer
  .wrapper
    .row
      .span7
        .action
          .ooo
            Ликвидируем юридические лица на территории РФ с гарантированным результатом.
            Сделаем всё в срок или вернем деньги обратно.

      .span4.offset1.consult-form-wrapper
        .success
          Мы вам скоро перезвоним!

        %form.form#first-form
          .form-header
            Оставьте заявку на консультацию в августе и получите скидку 20%
          %input{type: :text, placeholder: 'Имя', name: :username}
          %input{type: :text, placeholder: 'Email (не обязательно)', name: :email}
          .phone-error Правильный формат 8 xxx xxx xx xx
          %input{type: :text, placeholder: 'Телефон', name: :phone}
          .submit-order.button Получить консультацию

#request-call-dialog
  .header-transparent
  .content
    .success
      Мы вам скоро перезвоним!
    %form#call-me-form{data: {dialog: 'yes'}}
      %input{type: :text, name: :username, placeholder: 'Имя'}
      .phone-error Правильный формат 8 xxx xxx xx xx
      %input{type: :text, name: :phone, placeholder: 'Телефон'}
      .button.submit-order
        Заказать звонок